/nbproject/private/
/build/
/dist/
/src/FXMLExample/build/
/src/FXMLExample/dist/
/src/FXMLExample/nbproject/private/
/FXMLExample/nbproject/private/
/FXMLExample/build/
/FXMLExample/dist/
/ColorfulCircles/nbproject/private/
/ColorfulCircles/build/
/ColorfulCircles/dist/